.bl_coinListStyle {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  margin: 0;
}

.bl_coinListStyle > li label {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.bl_coinListStyle > li input {
  padding: 0;
  margin: 0 20px 0 0;
}

.bl_coinListStyle > li:has(input:checked) {
}

.bl_coinListStyle > li dfn {
  flex: 0 1 150px;
  font-style: normal;
  font-size: 20px;
}
.bl_coinListStyle > li span {
  flex: 1 1 170px;
  font-weight: 700;
}
